.sketcher{
	float: none;
	background-color: #f0f0f0;
	width: 640px;
	height: 640px;
	margin: 50px auto;
	/*border-color: 2px solid red;*/


}

.tile{
	width: 40px;
	height: 40px;

	background-color: blue;
	padding:0;
    margin:0;
    float: left;
	border-radius: 10%;

}


.hover{
	background-color: black;
}